table.table { 
    margin: 0 auto;
    width: 600px;
    text-align: center; 
}

.table td { 
  text-align: left; 
  padding: 1.25em;
  flex: 1 1 150px;
  border: 0.5px solid rgba(3,3,3,0.2);
}

.table tr { 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5em 0;
}

@media screen and (max-width: 800px) {

}